

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Condensed&display=swap');

body {
    background-image: url(../images/brain.jpg); 
    background-color: rgb(30, 30, 30);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-family: 'Roboto Condensed', sans-serif;

} 

nav {
    /* background-color: rgb(30, 30, 30); */
}

.navbar-brand {
    color: rgb(203, 203, 65) !important;
    font-size: 36px !important;
    border: solid thick  rgb(203, 203, 65);

}

.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 24px;
}

#Home {
    color: rgb(181, 206, 68) !important;
}

#Resume {
    color: rgb(156, 220, 254)!important;
}

#Portfolio {
    color: rgb(206, 145, 120) !important;
}

.jumbotron {
    background-color: rgb(30, 30, 30);
}

#title-holder {
    border: thick solid  rgb(80, 143, 204);
   
}

#title {
    color: rgb(80, 143, 204)
}

.img-thumbnail {
    height: 150px;
    width: 150px;
    border: thick rgb(181, 206, 68) solid;
    /* background-color: rgb(30, 30, 30); */
}

#sql {
    background-color: rgb(138, 217, 183);
}

#javascript {
    background-color: rgb(216, 137, 78);
}

#css {
    background-color: rgb(97, 136, 207)
}
#html {
    background-color: white;
}


.img-thumbnail:hover {
    background-color: yellow;
    border: thick solid rgb(156, 220, 254);
}
.card {
    background-color: rgb(30, 30, 30);
    border: thick rgb(181, 206, 68) solid;
}

.card-title {
    color: rgb(203, 203, 65);
}

#p1 {
    color: rgb(206, 145, 120);
}
#small {
    color: rgb(156, 220, 254) !important;
}

#name1 {
    color: rgb(203, 203, 65);
    
}

#name2 {
    color: white;
}


#name-holder {
    position: fixed;
    bottom: 0;
    margin-left: 10px;
}


#skills:hover {
    background-color: rgb(206, 145, 120);
  
}


.skills-header {
    border: thick rgb(181, 206, 68) solid;
    /* background-color: rgb(30, 30, 30); */
    width: 300px;
}

#html-bar {
   background-color: teal !important;
}

#css-bar {
    background-color: teal !important;
}

#javascript-bar {
    background-color: teal !important;
}

#sql-bar {
    background-color: teal !important
}

footer {
    background-color: rgb(30, 30, 30);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center !important;
    width: 100%; 
    overflow: hidden !important;
}


/* Media queries */


@media only screen and (max-width: 900px) {
    #name-holder {
        position: relative;
        bottom: 0;
    }

    #name1, #name2 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 600px) {
    body, html {
        background-color:  black !important;
        background-image: url(../images/brain.jpg); 
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .img-thumbnail {
        opacity: 0.5 !important;
        height: 20%;
        width: 20%;
    }

    #name-holder {
        position: relative;
        bottom: 0;

    }

    #name1, #name2 {
        font-size: 30px;
    }
}